
.openerp .oe_form div.oe_form_field_rst2html_readonly {
  border: 1px solid #ddd;
  -moz-box-shadow:    5px 5px 4px 1px #999;
  -webkit-box-shadow: 5px 5px 4px 1px #999;
  box-shadow:         5px 5px 4px 1px #999;
  margin: 1em;
  padding: 1em;
}



.openerp div.oe_form_field_rst2html_readonly.oe_form_field_markitup_preview {
  max-height: 100em;
  overflow: auto;
  margin: 0;
  box-shadow: none;
}

.openerp .oe_form .markItUp textarea {
 height: 15em;
 font-family: monospace;
 }
